body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 18%, rgba(221,212,209,1) 49%, rgba(201,194,191,1) 75%);
}

header {
    color: white;
    background-color: rgb(172, 168, 168);
    animation-name: squish;
    animation-duration: 2s;
    animation-fill-mode: both;
}

input{
    width: 18%;
}

#container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#submitBtn {
    margin-top: 1rem;
    background-color: #a2ba7d;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #627544;
    color: white;
    font-size: 1rem;
}

#submitBtn:hover {
    background-color: #c1db9b;
}

input[type=number] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
}

#history {
    border: 3px solid rgb(172, 168, 168);
    margin: 0 40% 0 40%;
    background-color: #cfd3d0;
}

#resetBtn {
    margin-top: 1rem;
    background-color: rgb(193 74 74);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

#resetBtn:hover {
    background-color: rgb(175 54 54);
}

@keyframes squish {
    from {height: 0px;}
    to {height: 40px;}
}